<div class="lesson-container">
    <!-- Header Section -->
    <header class="header">
        <img src="assets/understanding-obj-class.gif" (click)="showNextSection('s1')" *ngIf="visibleSections === 1" class="interactive-image" alt="What is Programming?">
    </header>

    <section id="s1" class="lesson-section" *ngIf="visibleSections >= 2">
        <div class="content-container">
            <h1>What are objects in programming?</h1>
            <p>In programming, objects are building blocks for software. It can be defined as a data field that has unique attributes and behavior.</p>
            <p>An object is a specific, concrete instance of a class. The values contained in an object’s properties often differentiate instances of the same class from one another.</p>
            <img src="assets/buildingblocks.png" alt="">
            <p>In simple words, an object is like a real-life item created using a blueprint, where the blueprint is the class.</p>
        </div>
        <div class="button-container">
            <button (click)="showNextSection('s2')" *ngIf="visibleSections === 2">EXAMPLE</button>
          </div>
    </section>

    <section id="s2" class="lesson-section" *ngIf="visibleSections >= 3">
        <div class="content-container">
            <h3>For example:</h3>
            <p>A <strong>class</strong> is like a template for a motorcycle. It defines common features such as the <strong>color</strong>, <strong>brand</strong>, and <strong>engine displacement</strong>.</p>
            <img src="assets/motor.png" alt="">
            <p>One object could be a classic yellow Honda CB400 with a 400cc engine and another object could be a blue Vespa Sprint S150 with a 150cc engine.</p>
            <div class="button-container">
                <button (click)="showNextSection('s3')" *ngIf="visibleSections === 3">CLICK ME</button>
            </div>
        </div>
    </section>

    <section id="s3" class="lesson-section" *ngIf="visibleSections >= 4">
        <div class="content-container">
            <h1>What is class?</h1>
            <p><strong>Class</strong> is a term that describes a group or collection of objects with common properties. It describes what attributes its objects will have and what those objects will be able to do.</p>
            <p>In object-oriented programming, a class is like a blueprint that defines how to create objects. It specifies:</p>
            <li>The data the object will have (called attributes or variables).</li>
            <li>The actions the object can do (called methods or functions).</li>
            <img src="assets/class-objects.png" alt="">
        </div>
        <div class="button-container">
            <button (click)="showNextSection('s4')" *ngIf="visibleSections === 4">CLICK ME</button>
        </div>
    </section>

    <section id="s4" class="lesson-section" *ngIf="visibleSections >= 5">
        <h1>What is the relationship between <strong>objects</strong> and <strong>classes</strong>?</h1>
        <p>A <strong>class</strong> is a blueprint or template that defines the structure and behavior of a particular type of object. An <strong>object</strong> is an instance of a class and represents a specific example of the class with real data.</p>
        <h3>For example:</h3>
        <h2>Class</h2>
        <p>Imagine a <strong>class</strong> as a blueprint for designing chairs. The blueprint defines:</p>
        <img src="assets/class.png" alt="">
        <h2>Object</h2>
        <p>Using this blueprint, you can create <strong>objects</strong>, which are real chairs:</p>
        <img src="assets/object.png" alt="">
        <div class="button-container">
            <button onclick="location.href='introduction'" *ngIf="visibleSections === 5">BACK TO LESSONS</button>
        </div>
    </section>

</div>