<div class="container">
  <div class="course-container">
    <div class="course-item">
      <div class="course-icon">
        <i class="fas fa-code"></i>
      </div>
      <h3>INTRODUCTION</h3>
      <p>Build solid foundations for computational problem solving.</p>
      <div class="course-details">
        <span>8 LESSONS</span>
      </div>
    </div>
  </div>
  <div class="path-container">
    <div class="course-path">
      <div class="course-step-list">
        <div class="course-step">
          <div class="step-icon">
            <i class="fas fa-object-group"></i>
          </div>
          <p>Introduction to Object-Oriented Programming</p>
        </div>
        <div class="course-step">
          <div class="step-icon">
            <i class="fas fa-cubes"></i>
          </div>
          <p>Understanding Object and Classes</p>
        </div>
        <div class="course-step">
          <div class="step-icon">
            <i class="fab fa-java"></i>
          </div>
          <p>Introduction in Java</p>
        </div>
        <div class="course-step">
          <div class="step-icon">
            <i class="fas fa-book-open"></i>
          </div>
          <p>Basic OOP Concepts in Java</p>
        </div>
        <div class="course-step">
          <div class="step-icon">
            <i class="fas fa-code-branch"></i>
          </div>
          <p>Class Structure and Access</p>
        </div>
        <div class="course-step">
          <div class="step-icon">
            <i class="fas fa-sitemap"></i>
          </div>
          <p>Basic Object-Oriented Design</p>
        </div>
        <div class="course-step">
          <div class="step-icon">
            <i class="fas fa-th-list"></i>
          </div>
          <p>Java Class Libraries Overview</p>
        </div>
        <div class="course-step">
          <div class="step-icon">
            <i class="fas fa-project-diagram"></i>
          </div>
          <p>Object Interactions</p>
        </div>
      </div>
    </div>
  </div>
</div>