.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  padding-top: 4rem;
}

.course-container, .path-container {
  flex: 1;
  padding: 3rem;
}

.path-container{
  margin-left: 5rem;
}

.course-item {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #000000;
  text-align: center;
}

.course-icon {
  font-size: 2.5rem;
  color: #6C63FF;
  margin-bottom: 1rem;
}

.course-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #666;
  font-size: 0.9rem;
}

.course-path {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.course-step-list {
  display: contents;
  flex-direction: column;
  align-items: flex-start;
}

.course-step {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  pointer-events: auto !important;
}
.course-step:hover {
  background-color: #f5f5f5;
  .step-icon{
    color: #2f2b6d;
  }
}
.step-icon {
  font-size: 2.5rem;
  color: #6C63FF;
  margin-right: 1rem;
}

