<div class="lesson-container">
  <!-- Header Section -->
  <header class="header">
    <img src="assets/what-is-programming.png" (click)="showNextSection('s1')" *ngIf="visibleSections === 1" class="interactive-image" alt="What is Programming?">
  </header>

  <!-- Section 1: What is Programming -->
  <section id="s1" class="lesson-section" *ngIf="visibleSections >= 2">
    <div class="content-container">
      <h1>What is Programming?</h1>
      <p>Programming is the process of writing instructions for a computer to follow or creating a computer program.</p>
      <img src="assets/what-is-programming.png" alt="">
      <div class="button-container">
        <button (click)="showNextSection('s2')" *ngIf="visibleSections === 2">What are the programming paradigms</button>
      </div>
    </div>
  </section>

  <!-- Section 2: Programming Paradigms -->
  <section id="s2" class="lesson-section" *ngIf="visibleSections >= 3">
    <div class="content-container">
      <div class="button-container">
        <button (click)="showNextSection('s3')" *ngIf="visibleSections === 3">Why do programmers need programming paradigms</button>
      </div>
    </div>
  </section>

  <!-- Section 3: Why Programming Paradigms -->
  <section id="s3" class="lesson-section" *ngIf="visibleSections >= 4">
    <div class="content-container">
      <!-- Add content here if needed -->
    </div>
  </section>
</div>