<div class="background-container">
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">POLYMORPHISM</h2>
    <div class="features-container">
      <div class="feature-box" (click)="lesson1Overview()">
        <div class="check-icon" *ngIf="lessonProgress['polymorphism-lesson-1']"><i class="fas fa-check"></i></div>
        <div class="icon"><i class="fas fa-shapes"></i></div>
        <h3>Understanding Polymorphism</h3>
        <p>Learn the concept, types, and benefits of polymorphism, along with real-world applications.</p>
      </div>
      <div class="feature-box" (click)="lesson2Overview()">
        <div class="check-icon" *ngIf="lessonProgress['polymorphism-lesson-2']"><i class="fas fa-check"></i></div>
        <div class="icon"><i class="fas fa-code"></i></div>
        <h3>Compile-time Polymorphism (Static)</h3>
        <p>Explore method and constructor overloading, operator overloading, and type promotion in Java.</p>
      </div>
      <div class="feature-box" (click)="lesson3Overview()">
        <div class="check-icon" *ngIf="lessonProgress['polymorphism-lesson-3']"><i class="fas fa-check"></i></div>
        <div class="icon"><i class="fas fa-play-circle"></i></div>
        <h3>Runtime Polymorphism (Dynamic)</h3>
        <p>Dive into dynamic method dispatch, virtual methods, and late binding in runtime polymorphism.</p>
      </div>
      <div class="feature-box" (click)="lesson4Overview()">
        <div class="check-icon" *ngIf="lessonProgress['polymorphism-lesson-4']"><i class="fas fa-check"></i></div>
        <div class="icon"><i class="fas fa-tools"></i></div>
        <h3>Advanced Polymorphic Concepts</h3>
        <p>Understand abstract classes, type casting, and the use of the instanceof operator in polymorphism.</p>
      </div>
      <div class="feature-box" (click)="lesson5Overview()">
        <div class="check-icon" *ngIf="lessonProgress['polymorphism-lesson-5']"><i class="fas fa-check"></i></div>
        <div class="icon"><i class="fas fa-link"></i></div>
        <h3>Polymorphism with Interfaces</h3>
        <p>Learn how interfaces achieve polymorphism, promote loose coupling, and provide versatile implementations.</p>
      </div>
      <div class="feature-box" (click)="lesson6Overview()">
        <div class="check-icon" *ngIf="lessonProgress['polymorphism-lesson-6']"><i class="fas fa-check"></i></div>
        <div class="icon"><i class="fab fa-java"></i></div>
        <h3>Implementation in Java</h3>
        <p>Discover the syntax, examples, and best practices for implementing polymorphism in Java.</p>
      </div>
    </div>
  </div>
  
</div>
